<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppCloudKitEnvironment</key>
	<string>$(ICLOUD_CONTAINER_ENVIRONMENT)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CKSharingSupported</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>InstaBlog Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.jonesthevan.blog.instablog-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>instablogarchive</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Take photos for new InstaBlog posts.</string>
	<key>NSContactsUsageDescription</key>
	<string>Choose a Contacts group to build your list of email recipients for sharing posts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow location access so InstaBlog can capture current weather for new posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose photos from your library for new InstaBlog posts.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos taken in InstaBlog to your Photo Library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
