<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKSharingSupported</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Take photos for new InstaBlog posts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow location access so InstaBlog can capture current weather for new posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose photos from your library for new InstaBlog posts.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos taken in InstaBlog to your Photo Library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
